.action {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 0 0.5em;

  margin: 0 0 0.5em;

  white-space: nowrap;
}

.action:last-of-type {
  margin-bottom: 0;
}

.action .title {
  grid-row: 1 / 100;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  writing-mode: tb-rl;

  padding: 0.5em 0.25em;
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}

.action .column {
  line-height: 1;

  display: flex;
  align-items: center;
}
