.cover {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
  text-align: center;
}

.Title {
  /* Eyeballed to fit on two lines */
  font-size: 6em;

  margin: 0 0 var(--default-font-size);
}
