:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --offpaper-rgb: 220, 220, 220;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --grid-rgb: 170, 170, 170;
  --fillet: 4px;

  --print-margin: 0.25in;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--offpaper-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: calc(11in - var(--print-margin) * 2);
  height: calc(8.5in - var(--print-margin) * 2);
  font-size: 14px;
  margin: 2em auto;
}

@media print {
  html {
    color: rgb(var(--foreground-rgb));
    background: none;
  }

  body {
    margin: 0;
  }
}
