:root {
  --offpaper-rgb: 220, 220, 220;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --carryover-rgb: 235, 235, 235;

  --point-selector-outline-rgb: 180, 180, 180;

  --graph-line-rgb: 180, 180, 180;

  --roll-grid-outline-rgb: 180, 180, 180;

  --fillet: 4px;

  --print-sheet-width: 8.5in;
  --print-sheet-height: 14in;
  --print-margin: 0.25in;

  --page-width: 8in;
  --page-height: 6in;

  --sleeve-lip: 1in;
  --sleeve-gutter: 0.5in;
  --sleeve-depth: 0.125in;
  --sleeve-exposure-diameter: 1.25in;

  --default-font-size: 12px;
  --rules-font-size: 11px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--offpaper-rgb));

  font-size: var(--default-font-size);
}

@media print {
  html {
    background: none;
  }
}

table {
  border-spacing: 0;
}
