:root {
  --offpaper-rgb: 220, 220, 220;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --inactive-rgb: 235, 235, 235;

  --point-selector-outline-rgb: 180, 180, 180;

  --graph-line-rgb: 180, 180, 180;

  --roll-table-outline-rgb: 180, 180, 180;

  --fillet: 4px;

  --print-margin: 0.25in;

  --default-font-size: 12px;
  --rules-font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--offpaper-rgb));

  font-size: var(--default-font-size);
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }

  html {
    background: none;
  }
}

table {
  border-spacing: 0;
}
