.graph {
  line-height: 1;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0.25em;
}

.axis {
  display: flex;
  justify-content: space-between;

  font-weight: 100;
  font-size: 0.75em;
}

.axis.y {
  flex-direction: column;
  margin: -0.5em 0;
}

.axis.x {
  flex-direction: row;
  margin: 0 -0.5ch;
}

.yLabel {
  text-align: right;
  position: relative;
}

.area {
  height: 218px;
  position: relative;
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: var(--fillet);
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.lines.x {
  flex-direction: row;
}

.lines.y {
  flex-direction: column;
}

.line {
  width: 100%;
  height: 100%;
  background: rgb(var(--point-selector-outline-rgb));
}

.lines .line:first-of-type,
.lines .line:last-of-type {
  visibility: hidden;
}

.lines.x .line {
  width: 1px;
}

.lines.y .line {
  height: 1px;
}
