.graph {
  line-height: 1;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  grid-gap: 0.25em;
}

.axis {
  display: flex;
  justify-content: space-between;

  font-weight: 100;
  font-size: 0.75em;
}

.axis.y {
  flex-direction: column-reverse;
  margin: calc(1em / -2) 0;
}

.axis.y .y {
  text-align: right;
  position: relative;
}

/* TODO: affix top-of-text to top-of-graph */

.axis.y .y:first-of-type {
  margin: calc(1em / -2) 0 calc(1em / 2) 0;
}

.axis.y .y:last-of-type {
  margin: calc(1em / 2) 0 calc(1em / -2) 0;
}

.axis.x {
  flex-direction: row;
  margin: 0 calc(1ch / -2);
}

.axis.x .x:first-of-type {
  margin: 0 calc(1ch / -2) 0 calc(1ch / 2);
}

.axis.x .x:last-of-type {
  margin: 0 calc(1ch / 2) 0 calc(1ch / -2);
}

.area {
  position: relative;
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: var(--fillet);
}

.subset .area {
  border-style: dashed dashed solid solid;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.lines.x {
  flex-direction: row;
}

.lines.y {
  flex-direction: column;
}

.line {
  width: 100%;
  height: 100%;
  border: 0 solid rgb(var(--graph-line-rgb));
}

.lines .line:first-of-type,
.lines .line:last-of-type {
  visibility: hidden;
}

.lines.x .line {
  width: 1px;
  border-width: 0 1px 0 0;
}

.lines.y .line {
  height: 1px;
  border-width: 0 0 1px 0;
}

.lines.y .line:nth-child(even) {
  border-style: dashed;
}

.value {
  position: absolute;

  width: 5px;
  height: 5px;
  margin: calc(5px / -2);

  background: rgb(var(--foreground-rgb));
  border-radius: 50%;
}
