.icon {
  line-height: 1;
  vertical-align: middle;
  display: inline-flex;
}

.iconElement {
  margin: 0 1px;
  font-size: inherit;
}

.inline .iconElement {
  margin: 0;
}

.row .iconElement {
  margin-right: 0;
}

.IconX,
.IconsParen {
  white-space: nowrap;
}

.IconX .x {
  margin: 0 0.2em;
  font-weight: 100;
}

.IconsParen .paren {
  font-weight: 100;
}

.IconsParen .iconElement {
  margin: 0 1px;
}
