.icon {
  line-height: 1;
  vertical-align: middle;
}

.bootstrapIcon {
  margin: 0 2px;
  font-size: inherit;
}

.inline .bootstrapIcon {
  margin: 0;
}

.row .bootstrapIcon {
  margin-right: 0;
}

.iconX {
  white-space: nowrap;
}

.iconX .x {
  margin: 0 0.2em;
  font-weight: 100;
}
