.label {
  padding: var(--print-margin);

  height: calc(8.5in / 4);
  width: calc(11in / 2);

  outline: 1px dashed rgb(var(--roll-table-outline-rgb));

  float: left;
}

.Wordmark {
  /* Sized to fill width/height */
  font-size: 7.1em;
  /* outline: 1px dashed red; */
}

@media print {
  .label {
    outline: none;
  }
}
