.LineInput {
  height: 1em;
  display: flex;
}

.title {
  font-weight: 100;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-right: 0.25em;
}

.input {
  height: 1em;
  flex: 1;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}
