.page {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  width: 11in;
  height: 8.5in;

  padding: var(--print-margin);

  margin: 2em auto;
}

.split {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 2em;
}

@media print {
  .page {
    margin: 0;

    /* HACK: removes errant blank interim pages */
    height: calc(8.5in - 2px);
  }

  .page:not(:last-of-type) {
    page-break-after: always;
  }
}
