.page {
  width: var(--page-width);
  height: var(--page-height);

  padding: var(--print-margin);

  outline: 1px dashed rgb(var(--roll-grid-outline-rgb));
}

.split {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: var(--print-margin);
}

.landscape {
  height: var(--page-width);
  width: var(--page-height);
}

.double {
  width: calc(var(--page-height) * 2);
}

@media print {
  .page {
    outline: none;
  }

  .landscape {
    transform: rotate(90deg);
    transform-origin: calc(var(--page-width) / 2) calc(var(--page-width) / 2);
  }
}
