.page {
  width: var(--page-width);
  height: var(--page-height);

  padding: var(--print-margin);

  outline: 1px dashed rgb(var(--roll-table-outline-rgb));

  /* Mostly hide Rules overflow */
  /* TODO: fix adjacent pages still showing? */
  overflow: hidden;
}

.page.letter {
  width: var(--letter-page-width);
  height: var(--letter-page-height);
}

.double {
  height: calc(var(--page-height) * 2);
  width: var(--page-height);
}

.landscape {
  height: var(--page-width);
  width: var(--page-height);
}

.landscape.double {
  height: var(--page-width);
  width: calc(var(--page-height) * 2);
}

.split {
  display: grid;
  grid-template-columns: 28% auto;
  grid-gap: var(--print-margin);
}

@media print {
  .page {
    outline: none;
  }
}
