/* TODO: visualize staple, move split, adjust header */

.panel {
  width: var(--panel-width);
  height: var(--panel-height);

  padding: var(--print-margin);

  outline: 1px dashed rgb(var(--roll-table-outline-rgb));

  /* Mostly hide Rules overflow */
  /* TODO: fix adjacent panels still showing? */
  overflow: hidden;

  position: relative;

  display: flex;
  flex-shrink: 0;
}

.panel.letter {
  width: var(--letter-panel-width);
  height: var(--letter-panel-height);
}

/* .panel:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: red;
} */

.zine {
  width: var(--zine-panel-width);
  height: var(--zine-panel-height);
}

.zine.double {
  height: calc(var(--zine-panel-height) * 2);
  width: var(--zine-panel-height);
}

.zine.subpanel {
  padding: 0;
  overflow: visible; /* For Turn IDs */

  height: auto;
  width: calc(var(--zine-panel-width) * 2 - var(--print-margin) * 2);
  outline: none;
}

.landscape.double {
  height: var(--panel-width);
  width: calc(var(--panel-height) * 2);
}

.split {
  display: grid;
  grid-template-columns: 28% auto;
  grid-gap: var(--print-margin);
}

@media print {
  .panel {
    outline: none;
  }
}
