.pointSelector {
  display: flex;
}

.pointSelector .option {
  font-size: 1em;
  margin: 0 0.5em 0 0;
  position: relative;
}

.pointSelector .selected:before {
  content: "";

  position: absolute;
  top: calc(50% - 1em / 2);
  left: calc(50% - 1em / 2);

  width: 1em;
  height: 1em;

  outline: 1px dashed rgb(var(--foreground-rgb));
  border-radius: 50%;
}
