.pointSelector {
  display: flex;
}

.icon {
  margin-right: 0.25em;
}

.option {
  font-size: 0.85em;
  height: var(--default-font-size);
  width: calc(var(--default-font-size) * 1.25);

  margin: 0 -1px 0 0;

  border: 1px solid rgb(var(--point-selector-outline-rgb));

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.selected:before {
  content: "";

  position: absolute;
  top: calc(50% - 1.25em / 2);
  left: calc(50% - 1.25em / 2);

  width: 1.25em;
  height: 1.25em;

  outline: 1px solid rgb(var(--foreground-rgb));
  border-radius: 50%;
}
