.pointSelector {
  display: flex;
  align-items: center;
}

.option {
  font-size: 0.85em;
  height: calc(var(--default-font-size) * 1.25);
  width: calc(var(--default-font-size) * 1.25);

  margin: 0 -1px -1px 0;

  border: 1px solid rgb(var(--point-selector-outline-rgb));

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.selected {
  z-index: 1;
  border-left-color: rgb(var(--foreground-rgb));
  border-left-width: 2px;
  border-right-color: rgb(var(--foreground-rgb));
  border-right-width: 2px;
}

.first .selected {
  border-top-color: rgb(var(--foreground-rgb));
  border-top-width: 2px;
}

.last .selected {
  border-bottom-color: rgb(var(--foreground-rgb));
  border-bottom-width: 2px;
}
