.rules {
  display: flex;
  flex-direction: column;
}

.rules > * {
  flex-grow: 0;
}

.Graph {
  flex-grow: 1;
}

.rules h1,
.rules h2,
.rules h3 {
  text-transform: uppercase;
  line-height: 1;
}

.rules h1 {
  /* Eyeballed to fit on one line */
  font-size: 2em;
  font-weight: 900;
  line-height: 0.78;
  letter-spacing: -0.025em;
}

.rules h2 {
  font-size: 1.25em;
}

.rules h1,
.actions,
.LineInput,
.Graph {
  margin: 0 0 calc(var(--default-font-size) * 1.5);
}

.rules h2 {
  margin: 0 0 calc(var(--default-font-size) / 2);
}

.actions th {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));

  width: calc(0.85em + 0.25em * 2);

  position: relative;
}

.actions h3 {
  text-align: left;
  writing-mode: tb-rl;

  padding: 0.25em;

  font-size: 0.85em;

  position: absolute;
  top: 0;
  left: 0;
}

.actions td {
  line-height: 1;
  padding: 0 0 0 0.5em;
  white-space: nowrap;
}

.actions td:last-of-type {
  width: 100%;
}

.actions .gutter {
  height: 0.5em;
}

.description tbody td:first-of-type {
  padding: 0;
}

.descriptionHead {
  font-weight: 500;
  text-transform: uppercase;
}

.description {
  font-weight: 100;
}

.footer {
  font-weight: 100;
  font-size: 0.85em;
}
