.rules {
  display: flex;
  flex-direction: column;
}

.rules > * {
  flex-grow: 0;
}

.Graph {
  flex-grow: 1;
}

.rules h1,
.rules h2,
.rules h3 {
  text-transform: uppercase;
  line-height: 1;
}

.rules h1 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 0.85;
}

.rules h2 {
  font-size: 1.25em;
}

.rules h1,
.actions,
.LineInput,
.Graph {
  margin: 0 0 calc(var(--default-font-size) * 1.5);
}

.rules h2 {
  margin: 0 0 var(--default-font-size);
}

.actions th {
  text-align: left;
  font-size: 0.8em;
  writing-mode: tb-rl;
  padding: 0.5em 0.25em;
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}

.actions td {
  line-height: 1;
  padding: 0 0 0 0.5em;
  white-space: nowrap;
}

.actions .gutter {
  height: 0.5em;
}

.description {
  margin-left: 0.5em;
}

.description,
.footer {
  font-weight: 100;
  font-size: 0.85em;
}
