.sheet {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  width: var(--print-sheet-width);
  height: var(--print-sheet-height);

  margin: 2em auto;
}

.landscape {
  height: var(--print-sheet-width);
  width: var(--print-sheet-height);
}

.sheet:nth-child(even) > * {
  margin: 0 0 0 auto;
}

@media print {
  .sheet {
    margin: 0;

    /* TODO: Fix? Web and print no longer match */
    /* Rely on Page for height */
    height: auto;
  }

  .sheet:not(:last-of-type) {
    page-break-after: always;
  }

  .landscape {
    width: var(--print-sheet-width);
    height: var(--print-sheet-height);
  }
}
