.sheet {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  width: var(--legal-sheet-width);
  height: var(--legal-sheet-height);

  margin: 2em auto;

  display: flex;
  flex-direction: column;
}

.letter {
  width: var(--letter-sheet-width);
  height: var(--letter-sheet-height);
}

.landscape {
  height: var(--legal-sheet-width);
  width: var(--legal-sheet-height);

  flex-direction: row;
}

.letter.landscape {
  width: var(--letter-sheet-height);
  height: var(--letter-sheet-width);
}

.sheet:nth-child(odd) {
  justify-content: left;
}

.sheet:nth-child(even) {
  align-items: end;
}

.landscape:nth-child(even) {
  align-items: start;
  justify-content: right;
}

@media print {
  .sheet {
    margin: 0;

    /* Rely on Page for height */
    height: auto;
  }

  .sheet:not(:last-of-type) {
    page-break-after: always;
  }
}
