.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  flex-grow: 0;
}

.Graph {
  flex-grow: 1;
}

.sidebar h2 {
  text-transform: uppercase;
  line-height: 1;
}

.Wordmark {
  /* Eyeballed to fit on one line */
  font-size: 1.74em;
}

.zine .Wordmark {
  font-size: 1.66em;
}

.sidebar h2 {
  font-size: 1.2em;
}

.Wordmark,
.PhasesTable,
.LineInput,
.Graph {
  margin-bottom: calc(var(--default-font-size) * 1.5);
}

.sidebar > *:last-child {
  margin-bottom: 0;
}

.sidebar h2 {
  margin: 0 0 calc(var(--default-font-size) / 2);
}

.footer {
  font-weight: 100;
  font-size: 0.8em;
}

.footer .rev {
  font-size: 0.85em;
  font-style: italic;
}
