.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  flex-grow: 0;
}

.Graph {
  flex-grow: 1;
}

.sidebar h1,
.sidebar h2 {
  text-transform: uppercase;
  line-height: 1;
}

.sidebar h1 {
  /* Eyeballed to fit on one line */
  font-size: 1.78em;
  font-weight: 900;
  line-height: 0.78;
  letter-spacing: -0.025em;
}

.sidebar h2 {
  font-size: 1.25em;
}

.sidebar h1,
.ActionsTable,
.LineInput,
.Graph {
  margin: 0 0 calc(var(--default-font-size) * 1.5);
}

.sidebar h2 {
  margin: 0 0 calc(var(--default-font-size) / 2);
}

.footer {
  font-weight: 100;
  font-size: 0.85em;
}
