.Page {
  width: var(--page-width);
  height: calc(
    var(--sleeve-lip) + var(--sleeve-depth) * 2 + var(--page-height) * 2
  );

  padding: 0;
}

.lip,
.depth,
.front,
.back {
  width: 100%;
  position: relative;
  outline: 1px dashed rgb(var(--roll-grid-outline-rgb));
}

.lip {
  height: var(--sleeve-lip);
}

.depth {
  height: var(--sleeve-depth);
}

.front,
.back {
  height: var(--page-height);
}

.content {
  position: absolute;

  left: var(--sleeve-gutter);
  bottom: var(--sleeve-gutter);

  height: 2in;
  width: calc(var(--page-width) - var(--sleeve-gutter) * 2);

  outline: 1px dashed rgb(var(--roll-grid-outline-rgb));
}

.Wordmark {
  /* Sized to fill height */
  font-size: 9.25em;
  height: 2in;
}

.exposure {
  outline: 1px dashed rgb(var(--foreground-rgb));

  height: var(--sleeve-exposure-diameter);
  width: var(--sleeve-exposure-diameter);

  position: absolute;

  top: calc(50% - var(--sleeve-exposure-diameter) / 2);
  right: calc(var(--sleeve-exposure-diameter) / -2 - var(--sleeve-gutter));

  border-radius: 50%;
}

@media print {
  .lip,
  .depth,
  .front,
  .back,
  .sleeve {
    outline: none;
  }
}
