.turn {
  height: fit-content;
}

.thead .th,
.tbody {
  margin: 0 0 0.25em;
}

.tbody:last-of-type {
  margin-bottom: 0;
}

.tr {
  display: grid;
  grid-template-columns: calc(1em + 0.5em) repeat(5, 1fr);
}

/* TODO: derive? */
.tbody .th,
.tbody .td {
  height: calc(var(--default-font-size) * 1.34);
}

.handwritten {
  font-family: var(--font-handwriting);
  font-size: 1.5em;
}

.td {
  padding: 0 1em;
  overflow: hidden;
}

.thead .th {
  font-weight: bold;
  line-height: 0.75;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.85em;
}

.day {
  position: relative;
  font-weight: inherit;
}

.day span {
  position: absolute;

  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));

  width: 2em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: calc(var(--fillet) * 2);

  left: calc(50% - 0.5em / 2);
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;
}

.td {
  border: 1px solid rgb(var(--foreground-rgb));
  border-width: 1px 1px 0;
  margin: 0 0 -1px -1px;

  position: relative; /* for prefix containment */
}

.tbody .tr:last-of-type .td {
  border-bottom-width: 1px;
}

.td,
.tbody .th {
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tbody .th {
  padding: 0 0.5em 0 0;
}

.topLeft {
  border-top-left-radius: var(--fillet);
}

.topRight {
  border-top-right-radius: var(--fillet);
}

.bottomLeft {
  border-bottom-left-radius: var(--fillet);
}

.bottomRight {
  border-bottom-right-radius: var(--fillet);
}

.equals {
  border-color: rgb(var(--foreground-rgb));
}

.carryOver {
  background: rgb(var(--carryover-rgb));
}

.plus:before,
.minus:before,
.equals:before,
.follow:before {
  font-family: monospace;
  position: absolute;
  left: 0.2em;
  pointer-events: none;
  font-size: calc(var(--default-font-size) * 0.75);
  font-weight: 100;
}

.plus:before {
  content: "+";
}

.minus:before {
  content: "-";
}

.equals:before {
  content: "=";
}

.follow:before {
  content: "⇢";
}
