.turn {
  height: fit-content;
}

.thead .th,
.tbody {
  margin: 0 0 0.5em;
}

.tbody:last-of-type {
  margin-bottom: 0;
}

.tr {
  display: grid;
  grid-template-columns: calc(1.25em + 0.5em) repeat(3, 1fr);
}

.iconCol {
  font-size: 1.25em;
  line-height: 1;
}

.td {
  padding: 0 1em;
  overflow: hidden;
  height: 1.5em;
}

.thead .th {
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.id {
  text-align: center;
  padding-right: 0.5em;
  font-size: 0.85em;
}

.td {
  border: 1px solid rgb(var(--grid-rgb));
  margin: 0 0 -1px -1px;
  font-family: var(--font-mono);

  position: relative; /* for carrover line containment */

  display: flex;
  align-items: center;
  justify-content: center;
}

.topLeft {
  border-top-left-radius: var(--fillet);
}

.topRight {
  border-top-right-radius: var(--fillet);
}

.bottomLeft {
  border-bottom-left-radius: var(--fillet);
}

.bottomRight {
  border-bottom-right-radius: var(--fillet);
}

.final {
  border-color: rgb(var(--foreground-rgb));
  z-index: 1; /* pop over negative margin */
}

.carryover:before {
  content: "";
  background: rgb(var(--grid-rgb));
  position: absolute;
  top: calc(50% - 1px / 2);
  left: 1em;
  height: 1px;
  width: calc(100% - 1em * 2);
}
