.table {
  width: 400px;
}

.tbody {
  margin: 0 0 10px;
}

.tr {
  display: flex;
}

.iconCol {
  width: 50px;
  font-size: 1.4rem;
}

.th,
.td {
  padding: 5px 15px;
}

.thead .th {
  padding-left: 0;
  text-align: center;
  font-weight: bold;
}

.thead .th,
.tbody .td {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td {
  border: 1px solid rgb(var(--foreground-rgb));
  margin: 0 0 -1px -1px;
  font-family: "Courier New", Courier, monospace;
}

.topLeft {
  border-top-left-radius: var(--fillet);
}

.topRight {
  border-top-right-radius: var(--fillet);
}

.bottomLeft {
  border-bottom-left-radius: var(--fillet);
}

.bottomRight {
  border-bottom-right-radius: var(--fillet);
}
