.wordmark h1 {
  font-size: 1em; /* Inherit from parent */

  text-transform: uppercase;
  font-weight: 900;
  line-height: 0.78;
  letter-spacing: -0.025em;

  margin-left: -0.05em;
  margin: 0 0 calc(var(--default-font-size) / 4);
}

.rev {
  font-size: calc(var(--default-font-size) * 0.85);
  line-height: var(--default-font-size);
  font-weight: 100;
  font-style: italic;
}
